# Binaries (files without extension)
*
!/**/
!*.*

# Object directory
/obj

# Bin directory
/bin

# Doxygen
Doxyfile
docs/
/src/html
/src/latex

# VSCode
settings.json

# Python byte code
*.pyc

# Text files
*.txt
*.log

# Tarballs
*.tar.gz


